body, html{
    line-height: 1 .8;
    padding: 0;
    margin: 0;
    font-family: 'Gruppo', sans-serif;
}

.header, .computing, .design, .fashion, .footer{
    padding: 26px 34px;
    color :black;
    box-sizing: border-box;
    background-color: darkgray;
}
